@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
}
